<html> 
  <head> 
    <link 
      rel="stylesheet"      
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/> 
 
    <style> 
      .i-am-centered { 
        margin: auto; 
        max-width: 300px; 
        padding-top: 20%; 
      } 
    </style> 
  </head> 
 
  <body> 
    <div class="i-am-centered"> 
      <form method="POST"> 
        {% csrf_token %} 
        <div class="form-group"> 


    <label>Titulo: </label> 
    {{ form.titulo }} 
    </div> 
    <div class="form-group"> 
    <label>Autor: </label> 
    {{ form.autor }} 
    </div> 
    <div class="form-group"> 
    <label>Valoración: </label> 
    {{ form.valoracion }} 
    </div> 
  
    <button type="submit" class="btn btn-primary">Enviar</button> 
    </form> 
    </div> 
    </body> 
</html> 
